{% extends "base.html" %}

{% block content %}
<section class="bg-sky-600 text-white py-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h2 class="text-3xl font-extrabold">Busca tu producto 🔎</h2>
            <div class="mt-8 max-w-4xl mx-auto">
                <form action="{{ url_for('main.index') }}" method="POST">
                    <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
                        <div class="flex-[7]">
                            <input 
                                type="text" 
                                name="search_query" 
                                placeholder="Ingresa información del producto..."
                                class="w-full px-4 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none"
                                value="{{ search_query }}"
                                required
                            >
                        </div>
                        <div class="flex-[3]">
                          <select 
                            name="category" 
                            class="w-full px-4 py-2 rounded-md text-gray-900 focus:ring-2 focus:ring-indigo-500 focus:outline-none" 
                            required> 
                            {% for option in options %}
                              <option value="{{ option.value }}" 
                              {% if category == option.value %}selected{% endif %}>
                              {{ option.name }}
                              </option> 
                            {% endfor %}
                          </select>
                        </div>
                        <div class="sm:w-auto">
                            <button 
                                type="submit" 
                                class="w-full sm:w-auto px-6 py-2 bg-white text-sky-700 font-medium rounded-md shadow hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Consultar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
